In [2]:
# Imports:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
# Code to import csv file into notebook:
sat_2017= pd.read_csv("../data/sat_2017.csv")
sat_2018 = pd.read_csv("../data/sat_2018.csv")
sat_2019= pd.read_csv("../data/sat_2019.csv")
sat_2019_by_major= pd.read_csv("../data/sat_2019_by_intended_college_major.csv")
sat_2019_ca= pd.read_csv("../data/sat_2019_ca.csv")
act_2017= pd.read_csv("../data/act_2017.csv")
act_2018 = pd.read_csv("../data/act_2018.csv")
act_2019= pd.read_csv("../data/act_2019.csv")
act_2019_ca=pd.read_csv("../data/act_2019_ca.csv")
sat_act_by_college= pd.read_csv("../data/sat_act_by_college.csv")
final_sat_act_data= pd.read_csv("../data/final_sat_act_data.csv")

In [27]:
#function to compute mean
def mean_num(num_list):
    mean= sum(num_list)/len(num_list)
    return mean
#testing:
test_list = [1,2,3,4,5]
mean_num(num_list)

3.0

In [34]:
#funtion to convert participation rate to integer form
def convert_string(num):
    list_num= num.split('%')
    return float(list_num[0])/100

In [60]:
#displaying fundamental info on dataframe 
display(sat_2017.head())
display(sat_2017.shape)
display(sat_2017.info())

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

(51, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

None

In [57]:
#displaying fundamental info on dataframe 
display(sat_2018.head())
display(sat_2018.shape)
display(sat_2018.info())

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

(51, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

None

In [56]:
#displaying fundamental info on dataframe 
display(sat_2019.head())
display(sat_2019.shape)
display(sat_2019.info())

        State Participation Rate  EBRW  Math  Total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

(53, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               53 non-null     object
 1   Participation Rate  53 non-null     object
 2   EBRW                53 non-null     int64
 3   Math                53 non-null     int64
 4   Total               53 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.2+ KB

None

In [48]:
display(act_2017.head())
display(act_2017.shape)

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4

(52, 7)

In [47]:
display(act_2018.head())
display(act_2018.shape)

        State Participation  Composite
0     Alabama          100%       19.1
1      Alaska           33%       20.8
2     Arizona           66%       19.2
3    Arkansas          100%       19.4
4  California           27%       22.7

(52, 3)

In [42]:
display(act_2019.head())
display(act_2019.shape)

        State Participation  Composite
0     Alabama          100%       18.9
1      Alaska           38%       20.1
2     Arizona           73%       19.0
3    Arkansas          100%       19.3
4  California           23%       22.6

(52, 3)