In [1]:
# Imports:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
sat_2017= pd.read_csv("../dataset/sat_2017.csv")

In [3]:
# Code to import csv file into notebook:
sat_2017= pd.read_csv("../dataset/sat_2017.csv")
sat_2018 = pd.read_csv("../dataset/sat_2018.csv")
sat_2019= pd.read_csv("../dataset/sat_2019.csv")
sat_2019_by_major= pd.read_csv("../dataset/sat_2019_by_intended_college_major.csv")
sat_2019_ca= pd.read_csv("../dataset/sat_2019_ca.csv")
act_2017= pd.read_csv("../dataset/act_2017.csv")
act_2018 = pd.read_csv("../dataset/act_2018.csv")
act_2019= pd.read_csv("../dataset/act_2019.csv")
act_2019_ca=pd.read_csv("../dataset/act_2019_ca.csv")
sat_act_by_college= pd.read_csv("../dataset/sat_act_by_college.csv")
final_sat_act_data= pd.read_csv("../dataset/final_sat_act_data.csv")

## SAT Analysis

### Data Cleaning (1)

In [4]:
#function to compute mean
def mean_num(num_list):
    mean= sum(num_list)/len(num_list)
    return mean
#testing:
test_list = [1,2,3,4,5]
mean_num(test_list)

3.0

In [5]:
#displaying fundamental info on dataframe 
display(sat_2017.head())
display(sat_2017.shape)
display(sat_2017.info())

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

(51, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

None

In [6]:
#displaying fundamental info on dataframe 
display(sat_2018.head())
display(sat_2018.shape)
display(sat_2018.info())

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

(51, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

None

In [7]:
#displaying fundamental info on dataframe 
display(sat_2019.head())
display(sat_2019.shape)
display(sat_2019.info())

        State Participation Rate  EBRW  Math  Total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

(53, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               53 non-null     object
 1   Participation Rate  53 non-null     object
 2   EBRW                53 non-null     int64
 3   Math                53 non-null     int64
 4   Total               53 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.2+ KB

None

**Issues**
- Across the 3 SAT data frames, there are no null values. However, the variable "participation" which should be either and integer or a float variable returned the data type format ("Dtype") "object" i.e. string. 
- The SAT-2019 data frame contains information for Puerto Rico and the Virgin Islands, data that is not available for the years 2017 and 2018. Thus to facilitate even analysis, we will be dropping these two rows from the 2019 dataset.

**There is therefore need for data cleaning to facilitate analysis.**

In [8]:
#dropping rows containing data for Puerto Rico and the Virgin Islands
sat_2019.drop(sat_2019[sat_2019['State']=='Puerto Rico'].index,inplace=True)
sat_2019.drop(sat_2019[sat_2019['State']=='Virgin Islands'].index,inplace=True)

In [9]:
#checking
sat_2017.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

In [10]:
sat_2019.head()

        State Participation Rate  EBRW  Math  Total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

In [11]:
#create 'year' column in SAT datasets
sat_2017['year']=2017
sat_2018['year']=2018
sat_2019['year']=2019

In [12]:
#rename columns
sat_col_names = {"State":"state",
                 "Participation":"participation_rate (%)",
                 "Evidence-Based Reading and Writing":"ebrw",
                 "Math":"math",
                 "Total":"total"
                }
sat_col_names_2= {"State":"state",
                  "Participation Rate":"participation_rate (%)",
                  "EBRW":"ebrw",
                  "Math":"math",
                  "Total":"total"
    
}

sat_2017.rename(columns= sat_col_names, inplace= True)
sat_2018.rename(columns= sat_col_names, inplace= True)
sat_2019.rename(columns= sat_col_names_2, inplace= True)

display(sat_2017.head())
display(sat_2018.head())
display(sat_2019.head())

        state participation_rate (%)  ebrw  math  total  year
0     Alabama                     5%   593   572   1165  2017
1      Alaska                    38%   547   533   1080  2017
2     Arizona                    30%   563   553   1116  2017
3    Arkansas                     3%   614   594   1208  2017
4  California                    53%   531   524   1055  2017

        state participation_rate (%)  ebrw  math  total  year
0     Alabama                     6%   595   571   1166  2018
1      Alaska                    43%   562   544   1106  2018
2     Arizona                    29%   577   572   1149  2018
3    Arkansas                     5%   592   576   1169  2018
4  California                    60%   540   536   1076  2018

        state participation_rate (%)  ebrw  math  total  year
0     Alabama                     7%   583   560   1143  2019
1      Alaska                    41%   556   541   1097  2019
2     Arizona                    31%   569   565   1134  2019
3    Arkansas                     6%   582   559   1141  2019
4  California                    63%   534   531   1065  2019

In [13]:
#concactenate SAT dataframes for 2017, 2018 and  2019
sat= pd.concat([sat_2017,sat_2018,sat_2019])
sat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 52
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   153 non-null    object
 1   participation_rate (%)  153 non-null    object
 2   ebrw                    153 non-null    int64
 3   math                    153 non-null    int64
 4   total                   153 non-null    int64
 5   year                    153 non-null    int64
dtypes: int64(4), object(2)
memory usage: 8.4+ KB

In [17]:
#funtion to convert participation rate to integer form
def convert_string(num):
    list_num= num.split('%')
    return int(list_num[0])

In [19]:
#convert participation rate column to integer dtype
sat['participation_rate (%)']=sat['participation_rate (%)'].map(convert_string)

#checking
sat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 52
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   153 non-null    object
 1   participation_rate (%)  153 non-null    int64
 2   ebrw                    153 non-null    int64
 3   math                    153 non-null    int64
 4   total                   153 non-null    int64
 5   year                    153 non-null    int64
dtypes: int64(5), object(1)
memory usage: 8.4+ KB

In [21]:
sat.head()

        state  participation_rate (%)  ebrw  math  total  year
0     Alabama                       5   593   572   1165  2017
1      Alaska                      38   547   533   1080  2017
2     Arizona                      30   563   553   1116  2017
3    Arkansas                       3   614   594   1208  2017
4  California                      53   531   524   1055  2017

In [ ]:
display(act_2017.head())
display(act_2017.shape)
display(act_2017.info())

In [ ]:
display(act_2018.head())
display(act_2018.shape)
display(act_2018.info())

In [ ]:
display(act_2019.head())
display(act_2019.shape)
display(act_2019.info())