In [1]:
# Imports:
import pandas as pd
import numpy as np

In [52]:
#display settings
pd.set_option('display.max_rows',1000)
pd.set_option('display.max_columns',100)

In [2]:
sat_2017= pd.read_csv("../dataset/sat_2017.csv")

In [3]:
# Code to import csv file into notebook:
sat_2017= pd.read_csv("../dataset/sat_2017.csv")
sat_2018 = pd.read_csv("../dataset/sat_2018.csv")
sat_2019= pd.read_csv("../dataset/sat_2019.csv")
sat_2019_by_major= pd.read_csv("../dataset/sat_2019_by_intended_college_major.csv")
sat_2019_ca= pd.read_csv("../dataset/sat_2019_ca.csv")
act_2017= pd.read_csv("../dataset/act_2017.csv")
act_2018 = pd.read_csv("../dataset/act_2018.csv")
act_2019= pd.read_csv("../dataset/act_2019.csv")
act_2019_ca=pd.read_csv("../dataset/act_2019_ca.csv")
sat_act_by_college= pd.read_csv("../dataset/sat_act_by_college.csv")
final_sat_act_data= pd.read_csv("../dataset/final_sat_act_data.csv")

In [4]:
display(sat_2019_by_major.head())
display(sat_2019_by_major.shape)

,IntendedCollegeMajor,TestTakers,Percent,Total,ReadingWriting,Math
0,"Agriculture, AgricultureOperations, and Relate...","24,913",1%,977,496,481
1,Architecture and Related Services,"28,988",2%,1047,520,527
2,"Area, Ethnic, Cultural, and Gender Studies","2,629",0%,1040,536,504
3,Biological and Biomedical Sciences,"155,834",8%,1139,572,566
4,"Business, Management, Marketing, and Related S...","221,523",12%,1072,534,537

(38, 6)

In [5]:
display(sat_2019_ca.head())
display(sat_2019_ca.shape)

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year,Unnamed: 25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,*,*,*,*,*,*,*,*,2018-19,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,42,24.14,12,6.90,14,13.73,11,6.32,2018-19,NaN
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,97,35.27,37,13.45,18,15.93,35,12.73,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,*,*,*,*,*,*,*,*,2018-19,NaN

(2580, 26)

In [6]:
display(sat_act_by_college.head())
display(sat_act_by_college.shape)

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile
0,Stanford University,Yes,2021,Stanford has adopted a one-year test optional ...,47452,4.3%,1440-1570,32-35
1,Harvard College,Yes,2021,Harvard has adopted a one-year test optional p...,42749,4.7%,1460-1580,33-35
2,Princeton University,Yes,2021,Princeton has adopted a one-year test optional...,35370,5.5%,1440-1570,32-35
3,Columbia University,Yes,2021,Columbia has adopted a one-year test optional ...,40203,5.5%,1450-1560,33-35
4,Yale University,Yes,2021,Yale has adopted a one-year test optional poli...,36844,6.1%,1460-1570,33-35

(416, 8)

## SAT Data Cleaning

In [7]:
#function to compute mean
def mean_num(num_list):
    mean= sum(num_list)/len(num_list)
    return mean
#testing:
test_list = [1,2,3,4,5]
mean_num(test_list)

3.0

In [8]:
#displaying fundamental info on dataframe 
display(sat_2017.head())
display(sat_2017.shape)
display(sat_2017.info())

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

(51, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

None

In [9]:
#displaying fundamental info on dataframe 
display(sat_2018.head())
display(sat_2018.shape)
display(sat_2018.info())

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

(51, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

None

In [10]:
#displaying fundamental info on dataframe 
display(sat_2019.head())
display(sat_2019.shape)
display(sat_2019.info())

        State Participation Rate  EBRW  Math  Total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

(53, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               53 non-null     object
 1   Participation Rate  53 non-null     object
 2   EBRW                53 non-null     int64
 3   Math                53 non-null     int64
 4   Total               53 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.2+ KB

None

**Issues**
- Across the 3 SAT data frames, there are no null values. However, the variable "participation" which should be either and integer or a float variable returned the data type format ("Dtype") "object" i.e. string. 
- The SAT-2019 data frame contains information for Puerto Rico and the Virgin Islands, data that is not available for the years 2017 and 2018. Thus to facilitate even analysis, we will be dropping these two rows from the 2019 dataset.

**There is therefore need for data cleaning to facilitate analysis.**

In [11]:
#dropping rows containing data for Puerto Rico and the Virgin Islands
sat_2019.drop(sat_2019[sat_2019['State']=='Puerto Rico'].index,inplace=True)
sat_2019.drop(sat_2019[sat_2019['State']=='Virgin Islands'].index,inplace=True)

In [12]:
#checking
sat_2017.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

In [13]:
sat_2019.head()

        State Participation Rate  EBRW  Math  Total
0     Alabama                 7%   583   560   1143
1      Alaska                41%   556   541   1097
2     Arizona                31%   569   565   1134
3    Arkansas                 6%   582   559   1141
4  California                63%   534   531   1065

In [14]:
#create 'year' column in SAT datasets
sat_2017['year']=2017
sat_2018['year']=2018
sat_2019['year']=2019

In [15]:
#rename columns
sat_col_names = {"State":"state",
                 "Participation":"sat_participation(%)",
                 "Evidence-Based Reading and Writing":"ebrw",
                 "Math":"math",
                 "Total":"sat_total"
                }
sat_col_names_2= {"State":"state",
                  "Participation Rate":"sat_participation(%)",
                  "EBRW":"ebrw",
                  "Math":"math",
                  "Total":"sat_total"
    
}

sat_2017.rename(columns= sat_col_names, inplace= True)
sat_2018.rename(columns= sat_col_names, inplace= True)
sat_2019.rename(columns= sat_col_names_2, inplace= True)

display(sat_2017.head())
display(sat_2018.head())
display(sat_2019.head())

        state sat_participation(%)  ebrw  math  sat_total  year
0     Alabama                   5%   593   572       1165  2017
1      Alaska                  38%   547   533       1080  2017
2     Arizona                  30%   563   553       1116  2017
3    Arkansas                   3%   614   594       1208  2017
4  California                  53%   531   524       1055  2017

        state sat_participation(%)  ebrw  math  sat_total  year
0     Alabama                   6%   595   571       1166  2018
1      Alaska                  43%   562   544       1106  2018
2     Arizona                  29%   577   572       1149  2018
3    Arkansas                   5%   592   576       1169  2018
4  California                  60%   540   536       1076  2018

        state sat_participation(%)  ebrw  math  sat_total  year
0     Alabama                   7%   583   560       1143  2019
1      Alaska                  41%   556   541       1097  2019
2     Arizona                  31%   569   565       1134  2019
3    Arkansas                   6%   582   559       1141  2019
4  California                  63%   534   531       1065  2019

In [16]:
#concactenate SAT dataframes for 2017, 2018 and  2019
sat= pd.concat([sat_2017,sat_2018,sat_2019])
sat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 52
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   state                 153 non-null    object
 1   sat_participation(%)  153 non-null    object
 2   ebrw                  153 non-null    int64
 3   math                  153 non-null    int64
 4   sat_total             153 non-null    int64
 5   year                  153 non-null    int64
dtypes: int64(4), object(2)
memory usage: 8.4+ KB

In [17]:
#funtion to convert participation rate to integer form
def convert_string(num):
    list_num= num.split('%')
    return int(list_num[0])

In [18]:
#convert participation rate column to integer dtype
sat['sat_participation(%)']=sat['sat_participation(%)'].map(convert_string)

#checking
sat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 52
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   state                 153 non-null    object
 1   sat_participation(%)  153 non-null    int64
 2   ebrw                  153 non-null    int64
 3   math                  153 non-null    int64
 4   sat_total             153 non-null    int64
 5   year                  153 non-null    int64
dtypes: int64(5), object(1)
memory usage: 8.4+ KB

In [20]:
sat.head()

        state  sat_participation(%)  ebrw  math  sat_total  year
0     Alabama                     5   593   572       1165  2017
1      Alaska                    38   547   533       1080  2017
2     Arizona                    30   563   553       1116  2017
3    Arkansas                     3   614   594       1208  2017
4  California                    53   531   524       1055  2017

## ACT Data Cleaning

In [21]:
display(act_2017.head())
display(act_2017.shape)
display(act_2017.info())

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4

(52, 7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

None

In [22]:
#drop english, math reading and science columns to align with 2018 & 2019 data
act_2017.drop(columns=['English','Math',"Reading","Science"], inplace=True)
act_2017.head()

      State Participation Composite
0  National           60%      21.0
1   Alabama          100%      19.2
2    Alaska           65%      19.8
3   Arizona           62%      19.7
4  Arkansas          100%      19.4

In [23]:
display(act_2018.head())
display(act_2018.shape)
display(act_2018.info())

        State Participation  Composite
0     Alabama          100%       19.1
1      Alaska           33%       20.8
2     Arizona           66%       19.2
3    Arkansas          100%       19.4
4  California           27%       22.7

(52, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

None

In [24]:
display(act_2019.head())
display(act_2019.shape)
display(act_2019.info())

        State Participation  Composite
0     Alabama          100%       18.9
1      Alaska           38%       20.1
2     Arizona           73%       19.0
3    Arkansas          100%       19.3
4  California           23%       22.6

(52, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

None

In [25]:
#creating year column in each dataframe
act_2017['year']=2017
act_2018['year']=2018
act_2019['year']=2019

In [26]:
#concactenate ACT dataframes for 2017, 2018 and  2019
act= pd.concat([act_2017,act_2018,act_2019])
display(act.head())
display(act.info())

      State Participation Composite  year
0  National           60%      21.0  2017
1   Alabama          100%      19.2  2017
2    Alaska           65%      19.8  2017
3   Arizona           62%      19.7  2017
4  Arkansas          100%      19.4  2017

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 51
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          156 non-null    object
 1   Participation  156 non-null    object
 2   Composite      156 non-null    object
 3   year           156 non-null    int64
dtypes: int64(1), object(3)
memory usage: 6.1+ KB

None

In [27]:
#Change participation variable to integer dtype
#convert participation rate column to integer dtype
act['Participation']=act['Participation'].map(convert_string)

#checking
act.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 51
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          156 non-null    object
 1   Participation  156 non-null    int64
 2   Composite      156 non-null    object
 3   year           156 non-null    int64
dtypes: int64(2), object(2)
memory usage: 6.1+ KB

In [28]:
#rename columns
act_col_names= {'State':'state',
                'Participation':'act_participation(%)',
                'Composite':'act_total'
               }
act.rename(columns=act_col_names,inplace=True)
act.head()

      state  act_participation(%) act_total  year
0  National                    60      21.0  2017
1   Alabama                   100      19.2  2017
2    Alaska                    65      19.8  2017
3   Arizona                    62      19.7  2017
4  Arkansas                   100      19.4  2017

In [29]:
#save cleaned sat data as csv file
sat.to_csv('../dataset/sat_cleaned.csv')
act.to_csv('../dataset/act_cleaned.csv')

In [32]:
act.shape

(156, 4)

In [33]:
sat.shape

(153, 6)

In [74]:
#find rows that are in act dataset but not in sat dataset
act.merge(sat,how='outer',indicator=True).loc[lambda x:x['_merge']=='left_only']

,state,act_participation(%),act_total,year,sat_participation(%),ebrw,math,sat_total,_merge
0,National,60.0,21.0,2017,NaN,NaN,NaN,NaN,left_only
60,District of columbia,32.0,23.6,2018,NaN,NaN,NaN,NaN,left_only
155,National,52.0,20.7,2019,NaN,NaN,NaN,NaN,left_only

In [106]:
#find rows that are in sat dataset but not in act dataset
#sat.merge(act,how='outer',indicator=True).loc[lambda x:x['_merge']=='left_only']~alt way to check
act.merge(sat,how='outer',indicator=True).loc[lambda x:x['_merge']=='right_only']

,state,act_participation(%),act_total,year,sat_participation(%),ebrw,math,sat_total,_merge
150,Wyoming,NaN,NaN,2017,3,626,604,1230,right_only
151,Alabama,NaN,NaN,2018,6,595,571,1166,right_only
152,Wyoming,NaN,NaN,2018,3,633,625,1257,right_only
153,Alabama,NaN,NaN,2019,7,583,560,1143,right_only

In [76]:
#spelling of "District of Columbia" was inconsistent in 2018
act[act['state']=='District of Columbia']

                  state  act_participation(%) act_total  year
9  District of Columbia                    32      24.2  2017
8  District of Columbia                    32      23.5  2019

In [85]:
#change name to ensure consistency
#act.loc[8,['state']=='District of Columbia']~ alt method
act.replace("District of columbia","District of Columbia",inplace=True)

In [86]:
#checking
act[act['state']=='District of Columbia']

                  state  act_participation(%) act_total  year
9  District of Columbia                    32      24.2  2017
8  District of Columbia                    32      23.6  2018
8  District of Columbia                    32      23.5  2019

In [88]:
#dropping rows with "National" to ensure consistency with SAT dataframe
act.drop(act[act['state']=='National'].index,inplace=True)

In [92]:
#merging sat and act dataframes on states unique to both dataframes
act_and_sat= pd.merge(sat,act,how='inner',on=['state','year'])

display(act_and_sat.head())
display(act_and_sat.shape)
display(act_and_sat.info())

,state,sat_participation(%),ebrw,math,sat_total,year,act_participation(%),act_total
0,Alabama,5,593,572,1165,2017,100,19.2
1,Alaska,38,547,533,1080,2017,65,19.8
2,Arizona,30,563,553,1116,2017,62,19.7
3,Arkansas,3,614,594,1208,2017,100,19.4
4,California,53,531,524,1055,2017,31,22.8

(150, 8)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   state                 150 non-null    object
 1   sat_participation(%)  150 non-null    int64
 2   ebrw                  150 non-null    int64
 3   math                  150 non-null    int64
 4   sat_total             150 non-null    int64
 5   year                  150 non-null    int64
 6   act_participation(%)  150 non-null    int64
 7   act_total             150 non-null    object
dtypes: int64(6), object(2)
memory usage: 10.5+ KB

None

In [96]:
sat.shape

(153, 6)

In [97]:
act.shape

(150, 4)

In [102]:
sat['state'].nunique

<bound method IndexOpsMixin.nunique of 0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                Oklahoma
36                    Ohio
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
40            Rhode Island
41          South Carolina
42            South Dakota
43               Tennessee
44                   Texas
45                    Utah
46                 Vermont
48                Virginia
49              Washington
50           West Virginia
51               Wisconsin
52                 Wyoming
Name: state, dtype: object>

In [56]:
sat.merge(act.drop_duplicates(),on=['state'],how='left',indicator=True)

,state,sat_participation(%),ebrw,math,sat_total,year_x,act_participation(%),act_total,year_y,_merge
0,Alabama,5,593,572,1165,2017,100,19.2,2017,both
1,Alabama,5,593,572,1165,2017,100,19.1,2018,both
2,Alabama,5,593,572,1165,2017,100,18.9,2019,both
3,Alaska,38,547,533,1080,2017,65,19.8,2017,both
4,Alaska,38,547,533,1080,2017,33,20.8,2018,both
5,Alaska,38,547,533,1080,2017,38,20.1,2019,both
6,Arizona,30,563,553,1116,2017,62,19.7,2017,both
7,Arizona,30,563,553,1116,2017,66,19.2,2018,both
8,Arizona,30,563,553,1116,2017,73,19.0,2019,both
9,Arkansas,3,614,594,1208,2017,100,19.4,2017,both
10,Arkansas,3,614,594,1208,2017,100,19.4,2018,both
11,Arkansas,3,614,594,1208,2017,100,19.3,2019,both
12,California,53,531,524,1055,2017,31,22.8,2017,both
13,California,53,531,524,1055,2017,27,22.7,2018,both
14,California,53,531,524,1055,2017,23,22.6,2019,both
15,Colorado,11,606,595,1201,2017,100,20.8,2017,both
16,Colorado,11,606,595,1201,2017,30,23.9,2018,both
17,Colorado,11,606,595,1201,2017,27,23.8,2019,both
18,Connecticut,100,530,512,1041,2017,31,25.2,2017,both
19,Connecticut,100,530,512,1041,2017,26,25.6,2018,both
20,Connecticut,100,530,512,1041,2017,22,25.5,2019,both
21,Delaware,100,503,492,996,2017,18,24.1,2017,both
22,Delaware,100,503,492,996,2017,17,23.8,2018,both
23,Delaware,100,503,492,996,2017,13,24.1,2019,both
24,District of Columbia,100,482,468,950,2017,32,24.2,2017,both
25,District of Columbia,100,482,468,950,2017,32,23.5,2019,both
26,Florida,83,520,497,1017,2017,73,19.8,2017,both
27,Florida,83,520,497,1017,2017,66,19.9,2018,both
28,Florida,83,520,497,1017,2017,54,20.1,2019,both
29,Georgia,61,535,515,1050,2017,55,21.4,2017,both
30,Georgia,61,535,515,1050,2017,53,21.4,2018,both
31,Georgia,61,535,515,1050,2017,49,21.4,2019,both
32,Hawaii,55,544,541,1085,2017,90,19.0,2017,both
33,Hawaii,55,544,541,1085,2017,89,18.9,2018,both
34,Hawaii,55,544,541,1085,2017,80,19.0,2019,both
35,Idaho,93,513,493,1005,2017,38,22.3,2017,both
36,Idaho,93,513,493,1005,2017,36,22.3,2018,both
37,Idaho,93,513,493,1005,2017,31,22.5,2019,both
38,Illinois,9,559,556,1115,2017,93,21.4,2017,both
39,Illinois,9,559,556,1115,2017,43,23.9,2018,both
40,Illinois,9,559,556,1115,2017,35,24.3,2019,both
41,Indiana,63,542,532,1074,2017,35,22.6,2017,both
42,Indiana,63,542,532,1074,2017,32,22.5,2018,both
43,Indiana,63,542,532,1074,2017,29,22.5,2019,both
44,Iowa,2,641,635,1275,2017,67,21.9,2017,both
45,Iowa,2,641,635,1275,2017,68,21.8,2018,both
46,Iowa,2,641,635,1275,2017,66,21.6,2019,both
47,Kansas,4,632,628,1260,2017,73,21.7,2017,both
48,Kansas,4,632,628,1260,2017,71,21.6,2018,both
49,Kansas,4,632,628,1260,2017,72,21.2,2019,both
50,Kentucky,4,631,616,1247,2017,100,20.0,2017,both
51,Kentucky,4,631,616,1247,2017,100,20.2,2018,both
52,Kentucky,4,631,616,1247,2017,100,19.8,2019,both
53,Louisiana,4,611,586,1198,2017,100,19.5,2017,both
54,Louisiana,4,611,586,1198,2017,100,19.2,2018,both
55,Louisiana,4,611,586,1198,2017,100,18.8,2019,both
56,Maine,95,513,499,1012,2017,8,24.3,2017,both
57,Maine,95,513,499,1012,2017,7,24.0,2018,both
58,Maine,95,513,499,1012,2017,6,24.3,2019,both
59,Maryland,69,536,52,1060,2017,28,23.6,2017,both
60,Maryland,69,536,52,1060,2017,31,22.5,2018,both
61,Maryland,69,536,52,1060,2017,28,22.3,2019,both
62,Massachusetts,76,555,551,1107,2017,29,25.4,2017,both
63,Massachusetts,76,555,551,1107,2017,25,25.5,2018,both
64,Massachusetts,76,555,551,1107,2017,21,25.5,2019,both
65,Michigan,100,509,495,1005,2017,29,24.1,2017,both
66,Michigan,100,509,495,1005,2017,22,24.2,2018,both
67,Michigan,100,509,495,1005,2017,19,24.4,2019,both
68,Minnesota,3,644,651,1295,2017,100,21.5,2017,both
69,Minnesota,3,644,651,1295,2017,99,21.3,2018,both
70,Minnesota,3,644,651,1295,2017,95,21.4,2019,both
71,Mississippi,2,634,607,1242,2017,100,18.6,2017,both
72,Mississippi,2,634,607,1242,2017,100,18.6,2018,both
73,Mississippi,2,634,607,1242,2017,100,18.4,2019,both
74,Missouri,3,640,631,1271,2017,100,20.4,2017,both
75,Missouri,3,640,631,1271,2017,100,20.0,2018,both
76,Missouri,3,640,631,1271,2017,82,20.8,2019,both
77,Montana,10,605,591,1196,2017,100,20.3,2017,both
78,Montana,10,605,591,1196,2017,100,20.0,2018,both
79,Montana,10,605,591,1196,2017,100,19.8,2019,both
80,Nebraska,3,629,625,1253,2017,84,21.4,2017,both
81,Nebraska,3,629,625,1253,2017,100,20.1,2018,both
82,Nebraska,3,629,625,1253,2017,100,20.0,2019,both
83,Nevada,26,563,553,1116,2017,100,17.8,2017,both
84,Nevada,26,563,553,1116,2017,100,17.7,2018,both
85,Nevada,26,563,553,1116,2017,100,17.9,2019,both
86,New Hampshire,96,532,520,1052,2017,18,25.5,2017,both
87,New Hampshire,96,532,520,1052,2017,16,25.1,2018,both
88,New Hampshire,96,532,520,1052,2017,14,25.0,2019,both
89,New Jersey,70,530,526,1056,2017,34,23.9,2017,both
90,New Jersey,70,530,526,1056,2017,31,23.7,2018,both
91,New Jersey,70,530,526,1056,2017,25,24.2,2019,both
92,New Mexico,11,577,561,1138,2017,66,19.7,2017,both
93,New Mexico,11,577,561,1138,2017,67,19.4,2018,both
94,New Mexico,11,577,561,1138,2017,63,19.3,2019,both
95,New York,67,528,523,1052,2017,31,24.2,2017,both
96,New York,67,528,523,1052,2017,27,24.5,2018,both
97,New York,67,528,523,1052,2017,22,24.5,2019,both
98,North Carolina,49,546,535,1081,2017,100,19.1,2017,both
99,North Carolina,49,546,535,1081,2017,100,19.1,2018,both
100,North Carolina,49,546,535,1081,2017,100,19.0,2019,both
101,North Dakota,2,635,621,1256,2017,98,20.3,2017,both
102,North Dakota,2,635,621,1256,2017,98,20.3,2018,both
103,North Dakota,2,635,621,1256,2017,96,19.9,2019,both
104,Ohio,12,578,570,1149,2017,75,22.0,2017,both
105,Ohio,12,578,570,1149,2017,100,20.3,2018,both
106,Ohio,12,578,570,1149,2017,100,20.0,2019,both
107,Oklahoma,7,530,517,1047,2017,100,19.4,2017,both
108,Oklahoma,7,530,517,1047,2017,100,19.3,2018,both
109,Oklahoma,7,530,517,1047,2017,100,18.9,2019,both
110,Oregon,43,560,548,1108,2017,40,21.8,2017,both
111,Oregon,43,560,548,1108,2017,42,21.3,2018,both
112,Oregon,43,560,548,1108,2017,42,21.1,2019,both
113,Pennsylvania,65,540,531,1071,2017,23,23.7,2017,both
114,Pennsylvania,65,540,531,1071,2017,20,23.5,2018,both
115,Pennsylvania,65,540,531,1071,2017,17,23.6,2019,both
116,Rhode Island,71,539,524,1062,2017,21,24.0,2017,both
117,Rhode Island,71,539,524,1062,2017,15,24.2,2018,both
118,Rhode Island,71,539,524,1062,2017,12,24.7,2019,both
119,South Carolina,50,543,521,1064,2017,100,18.7,2017,both
120,South Carolina,50,543,521,1064,2017,100,18.3,2018,both
121,South Carolina,50,543,521,1064,2017,78,18.8,2019,both
122,South Dakota,3,612,603,1216,2017,80,21.8,2017,both
123,South Dakota,3,612,603,1216,2017,77,21.9,2018,both
124,South Dakota,3,612,603,1216,2017,75,21.6,2019,both
125,Tennessee,5,623,604,1228,2017,100,19.8,2017,both
126,Tennessee,5,623,604,1228,2017,100,19.6,2018,both
127,Tennessee,5,623,604,1228,2017,100,19.4,2019,both
128,Texas,62,513,507,1020,2017,45,20.7,2017,both
129,Texas,62,513,507,1020,2017,45,20.7,2018,both
130,Texas,62,513,507,1020,2017,39,20.5,2019,both
131,Utah,3,624,614,1238,2017,100,20.3,2017,both
132,Utah,3,624,614,1238,2017,100,20.4,2018,both
133,Utah,3,624,614,1238,2017,100,20.3,2019,both
134,Vermont,60,562,551,1114,2017,29,23.6,2017,both
135,Vermont,60,562,551,1114,2017,24,24.1,2018,both
136,Vermont,60,562,551,1114,2017,20,24.1,2019,both
137,Virginia,65,561,541,1102,2017,29,23.8,2017,both
138,Virginia,65,561,541,1102,2017,24,23.9,2018,both
139,Virginia,65,561,541,1102,2017,21,24.0,2019,both
140,Washington,64,541,534,1075,2017,29,21.9,2017,both
141,Washington,64,541,534,1075,2017,24,22.2,2018,both
142,Washington,64,541,534,1075,2017,24,22.1,2019,both
143,West Virginia,14,558,528,1086,2017,69,20.4,2017,both
144,West Virginia,14,558,528,1086,2017,65,20.3,2018,both
145,West Virginia,14,558,528,1086,2017,49,20.8,2019,both
146,Wisconsin,3,642,649,1291,2017,100,20.5,2017,both
147,Wisconsin,3,642,649,1291,2017,100,20.5,2018,both
148,Wisconsin,3,642,649,1291,2017,100,20.3,2019,both
149,Wyoming,3,626,604,1230,2017,100,20.2x,2017,both
150,Wyoming,3,626,604,1230,2017,100,20.0,2018,both
151,Wyoming,3,626,604,1230,2017,100,19.8,2019,both
152,Alabama,6,595,571,1166,2018,100,19.2,2017,both
153,Alabama,6,595,571,1166,2018,100,19.1,2018,both
154,Alabama,6,595,571,1166,2018,100,18.9,2019,both
155,Alaska,43,562,544,1106,2018,65,19.8,2017,both
156,Alaska,43,562,544,1106,2018,33,20.8,2018,both
157,Alaska,43,562,544,1106,2018,38,20.1,2019,both
158,Arizona,29,577,572,1149,2018,62,19.7,2017,both
159,Arizona,29,577,572,1149,2018,66,19.2,2018,both
160,Arizona,29,577,572,1149,2018,73,19.0,2019,both
161,Arkansas,5,592,576,1169,2018,100,19.4,2017,both
162,Arkansas,5,592,576,1169,2018,100,19.4,2018,both
163,Arkansas,5,592,576,1169,2018,100,19.3,2019,both
164,California,60,540,536,1076,2018,31,22.8,2017,both
165,California,60,540,536,1076,2018,27,22.7,2018,both
166,California,60,540,536,1076,2018,23,22.6,2019,both
167,Colorado,100,519,506,1025,2018,100,20.8,2017,both
168,Colorado,100,519,506,1025,2018,30,23.9,2018,both
169,Colorado,100,519,506,1025,2018,27,23.8,2019,both
170,Connecticut,100,535,519,1053,2018,31,25.2,2017,both
171,Connecticut,100,535,519,1053,2018,26,25.6,2018,both
172,Connecticut,100,535,519,1053,2018,22,25.5,2019,both
173,Delaware,100,505,492,998,2018,18,24.1,2017,both
174,Delaware,100,505,492,998,2018,17,23.8,2018,both
175,Delaware,100,505,492,998,2018,13,24.1,2019,both
176,District of Columbia,92,497,480,977,2018,32,24.2,2017,both
177,District of Columbia,92,497,480,977,2018,32,23.5,2019,both
178,Florida,56,550,549,1099,2018,73,19.8,2017,both
179,Florida,56,550,549,1099,2018,66,19.9,2018,both
180,Florida,56,550,549,1099,2018,54,20.1,2019,both
181,Georgia,70,542,522,1064,2018,55,21.4,2017,both
182,Georgia,70,542,522,1064,2018,53,21.4,2018,both
183,Georgia,70,542,522,1064,2018,49,21.4,2019,both
184,Hawaii,56,480,530,1010,2018,90,19.0,2017,both
185,Hawaii,56,480,530,1010,2018,89,18.9,2018,both
186,Hawaii,56,480,530,1010,2018,80,19.0,2019,both
187,Idaho,100,508,493,1001,2018,38,22.3,2017,both
188,Idaho,100,508,493,1001,2018,36,22.3,2018,both
189,Idaho,100,508,493,1001,2018,31,22.5,2019,both
190,Illinois,99,513,506,1019,2018,93,21.4,2017,both
191,Illinois,99,513,506,1019,2018,43,23.9,2018,both
192,Illinois,99,513,506,1019,2018,35,24.3,2019,both
193,Indiana,63,542,532,1074,2018,35,22.6,2017,both
194,Indiana,63,542,532,1074,2018,32,22.5,2018,both
195,Indiana,63,542,532,1074,2018,29,22.5,2019,both
196,Iowa,3,634,631,1265,2018,67,21.9,2017,both
197,Iowa,3,634,631,1265,2018,68,21.8,2018,both
198,Iowa,3,634,631,1265,2018,66,21.6,2019,both
199,Kansas,4,633,631,1265,2018,73,21.7,2017,both
200,Kansas,4,633,631,1265,2018,71,21.6,2018,both
201,Kansas,4,633,631,1265,2018,72,21.2,2019,both
202,Kentucky,4,630,618,1248,2018,100,20.0,2017,both
203,Kentucky,4,630,618,1248,2018,100,20.2,2018,both
204,Kentucky,4,630,618,1248,2018,100,19.8,2019,both
205,Louisiana,4,615,595,1210,2018,100,19.5,2017,both
206,Louisiana,4,615,595,1210,2018,100,19.2,2018,both
207,Louisiana,4,615,595,1210,2018,100,18.8,2019,both
208,Maine,99,512,501,1013,2018,8,24.3,2017,both
209,Maine,99,512,501,1013,2018,7,24.0,2018,both
210,Maine,99,512,501,1013,2018,6,24.3,2019,both
211,Maryland,76,545,535,1080,2018,28,23.6,2017,both
212,Maryland,76,545,535,1080,2018,31,22.5,2018,both
213,Maryland,76,545,535,1080,2018,28,22.3,2019,both
214,Massachusetts,80,562,563,1125,2018,29,25.4,2017,both
215,Massachusetts,80,562,563,1125,2018,25,25.5,2018,both
216,Massachusetts,80,562,563,1125,2018,21,25.5,2019,both
217,Michigan,100,511,499,1011,2018,29,24.1,2017,both
218,Michigan,100,511,499,1011,2018,22,24.2,2018,both
219,Michigan,100,511,499,1011,2018,19,24.4,2019,both
220,Minnesota,4,643,655,1298,2018,100,21.5,2017,both
221,Minnesota,4,643,655,1298,2018,99,21.3,2018,both
222,Minnesota,4,643,655,1298,2018,95,21.4,2019,both
223,Mississippi,3,630,606,1236,2018,100,18.6,2017,both
224,Mississippi,3,630,606,1236,2018,100,18.6,2018,both
225,Mississippi,3,630,606,1236,2018,100,18.4,2019,both
226,Missouri,4,633,629,1262,2018,100,20.4,2017,both
227,Missouri,4,633,629,1262,2018,100,20.0,2018,both
228,Missouri,4,633,629,1262,2018,82,20.8,2019,both
229,Montana,10,606,592,1198,2018,100,20.3,2017,both
230,Montana,10,606,592,1198,2018,100,20.0,2018,both
231,Montana,10,606,592,1198,2018,100,19.8,2019,both
232,Nebraska,3,629,623,1252,2018,84,21.4,2017,both
233,Nebraska,3,629,623,1252,2018,100,20.1,2018,both
234,Nebraska,3,629,623,1252,2018,100,20.0,2019,both
235,Nevada,23,574,566,1140,2018,100,17.8,2017,both
236,Nevada,23,574,566,1140,2018,100,17.7,2018,both
237,Nevada,23,574,566,1140,2018,100,17.9,2019,both
238,New Hampshire,96,535,528,1063,2018,18,25.5,2017,both
239,New Hampshire,96,535,528,1063,2018,16,25.1,2018,both
240,New Hampshire,96,535,528,1063,2018,14,25.0,2019,both
241,New Jersey,82,547,547,1094,2018,34,23.9,2017,both
242,New Jersey,82,547,547,1094,2018,31,23.7,2018,both
243,New Jersey,82,547,547,1094,2018,25,24.2,2019,both
244,New Mexico,16,552,540,1093,2018,66,19.7,2017,both
245,New Mexico,16,552,540,1093,2018,67,19.4,2018,both
246,New Mexico,16,552,540,1093,2018,63,19.3,2019,both
247,New York,79,534,534,1068,2018,31,24.2,2017,both
248,New York,79,534,534,1068,2018,27,24.5,2018,both
249,New York,79,534,534,1068,2018,22,24.5,2019,both
250,North Carolina,52,554,543,1098,2018,100,19.1,2017,both
251,North Carolina,52,554,543,1098,2018,100,19.1,2018,both
252,North Carolina,52,554,543,1098,2018,100,19.0,2019,both
253,North Dakota,2,640,643,1283,2018,98,20.3,2017,both
254,North Dakota,2,640,643,1283,2018,98,20.3,2018,both
255,North Dakota,2,640,643,1283,2018,96,19.9,2019,both
256,Oklahoma,8,541,521,1062,2018,100,19.4,2017,both
257,Oklahoma,8,541,521,1062,2018,100,19.3,2018,both
258,Oklahoma,8,541,521,1062,2018,100,18.9,2019,both
259,Ohio,18,552,547,1099,2018,75,22.0,2017,both
260,Ohio,18,552,547,1099,2018,100,20.3,2018,both
261,Ohio,18,552,547,1099,2018,100,20.0,2019,both
262,Oregon,48,564,553,1117,2018,40,21.8,2017,both
263,Oregon,48,564,553,1117,2018,42,21.3,2018,both
264,Oregon,48,564,553,1117,2018,42,21.1,2019,both
265,Pennsylvania,70,547,539,1086,2018,23,23.7,2017,both
266,Pennsylvania,70,547,539,1086,2018,20,23.5,2018,both
267,Pennsylvania,70,547,539,1086,2018,17,23.6,2019,both
268,Rhode Island,97,513,505,1018,2018,21,24.0,2017,both
269,Rhode Island,97,513,505,1018,2018,15,24.2,2018,both
270,Rhode Island,97,513,505,1018,2018,12,24.7,2019,both
271,South Carolina,55,547,523,1070,2018,100,18.7,2017,both
272,South Carolina,55,547,523,1070,2018,100,18.3,2018,both
273,South Carolina,55,547,523,1070,2018,78,18.8,2019,both
274,South Dakota,3,622,618,1240,2018,80,21.8,2017,both
275,South Dakota,3,622,618,1240,2018,77,21.9,2018,both
276,South Dakota,3,622,618,1240,2018,75,21.6,2019,both
277,Tennessee,6,624,607,1231,2018,100,19.8,2017,both
278,Tennessee,6,624,607,1231,2018,100,19.6,2018,both
279,Tennessee,6,624,607,1231,2018,100,19.4,2019,both
280,Texas,66,520,512,1032,2018,45,20.7,2017,both
281,Texas,66,520,512,1032,2018,45,20.7,2018,both
282,Texas,66,520,512,1032,2018,39,20.5,2019,both
283,Utah,4,480,530,1010,2018,100,20.3,2017,both
284,Utah,4,480,530,1010,2018,100,20.4,2018,both
285,Utah,4,480,530,1010,2018,100,20.3,2019,both
286,Vermont,64,565,554,1120,2018,29,23.6,2017,both
287,Vermont,64,565,554,1120,2018,24,24.1,2018,both
288,Vermont,64,565,554,1120,2018,20,24.1,2019,both
289,Virginia,68,567,550,1117,2018,29,23.8,2017,both
290,Virginia,68,567,550,1117,2018,24,23.9,2018,both
291,Virginia,68,567,550,1117,2018,21,24.0,2019,both
292,Washington,69,543,538,1081,2018,29,21.9,2017,both
293,Washington,69,543,538,1081,2018,24,22.2,2018,both
294,Washington,69,543,538,1081,2018,24,22.1,2019,both
295,West Virginia,28,513,486,999,2018,69,20.4,2017,both
296,West Virginia,28,513,486,999,2018,65,20.3,2018,both
297,West Virginia,28,513,486,999,2018,49,20.8,2019,both
298,Wisconsin,3,641,653,1294,2018,100,20.5,2017,both
299,Wisconsin,3,641,653,1294,2018,100,20.5,2018,both
300,Wisconsin,3,641,653,1294,2018,100,20.3,2019,both
301,Wyoming,3,633,625,1257,2018,100,20.2x,2017,both
302,Wyoming,3,633,625,1257,2018,100,20.0,2018,both
303,Wyoming,3,633,625,1257,2018,100,19.8,2019,both
304,Alabama,7,583,560,1143,2019,100,19.2,2017,both
305,Alabama,7,583,560,1143,2019,100,19.1,2018,both
306,Alabama,7,583,560,1143,2019,100,18.9,2019,both
307,Alaska,41,556,541,1097,2019,65,19.8,2017,both
308,Alaska,41,556,541,1097,2019,33,20.8,2018,both
309,Alaska,41,556,541,1097,2019,38,20.1,2019,both
310,Arizona,31,569,565,1134,2019,62,19.7,2017,both
311,Arizona,31,569,565,1134,2019,66,19.2,2018,both
312,Arizona,31,569,565,1134,2019,73,19.0,2019,both
313,Arkansas,6,582,559,1141,2019,100,19.4,2017,both
314,Arkansas,6,582,559,1141,2019,100,19.4,2018,both
315,Arkansas,6,582,559,1141,2019,100,19.3,2019,both
316,California,63,534,531,1065,2019,31,22.8,2017,both
317,California,63,534,531,1065,2019,27,22.7,2018,both
318,California,63,534,531,1065,2019,23,22.6,2019,both
319,Colorado,100,518,506,1024,2019,100,20.8,2017,both
320,Colorado,100,518,506,1024,2019,30,23.9,2018,both
321,Colorado,100,518,506,1024,2019,27,23.8,2019,both
322,Connecticut,100,529,516,1046,2019,31,25.2,2017,both
323,Connecticut,100,529,516,1046,2019,26,25.6,2018,both
324,Connecticut,100,529,516,1046,2019,22,25.5,2019,both
325,Delaware,100,499,486,985,2019,18,24.1,2017,both
326,Delaware,100,499,486,985,2019,17,23.8,2018,both
327,Delaware,100,499,486,985,2019,13,24.1,2019,both
328,District of Columbia,94,495,480,975,2019,32,24.2,2017,both
329,District of Columbia,94,495,480,975,2019,32,23.5,2019,both
330,Florida,100,516,483,999,2019,73,19.8,2017,both
331,Florida,100,516,483,999,2019,66,19.9,2018,both
332,Florida,100,516,483,999,2019,54,20.1,2019,both
333,Georgia,71,538,519,1058,2019,55,21.4,2017,both
334,Georgia,71,538,519,1058,2019,53,21.4,2018,both
335,Georgia,71,538,519,1058,2019,49,21.4,2019,both
336,Hawaii,54,550,550,1100,2019,90,19.0,2017,both
337,Hawaii,54,550,550,1100,2019,89,18.9,2018,both
338,Hawaii,54,550,550,1100,2019,80,19.0,2019,both
339,Idaho,100,505,488,993,2019,38,22.3,2017,both
340,Idaho,100,505,488,993,2019,36,22.3,2018,both
341,Idaho,100,505,488,993,2019,31,22.5,2019,both
342,Illinois,100,509,504,1013,2019,93,21.4,2017,both
343,Illinois,100,509,504,1013,2019,43,23.9,2018,both
344,Illinois,100,509,504,1013,2019,35,24.3,2019,both
345,Indiana,66,543,537,1080,2019,35,22.6,2017,both
346,Indiana,66,543,537,1080,2019,32,22.5,2018,both
347,Indiana,66,543,537,1080,2019,29,22.5,2019,both
348,Iowa,3,622,622,1244,2019,67,21.9,2017,both
349,Iowa,3,622,622,1244,2019,68,21.8,2018,both
350,Iowa,3,622,622,1244,2019,66,21.6,2019,both
351,Kansas,4,618,623,1241,2019,73,21.7,2017,both
352,Kansas,4,618,623,1241,2019,71,21.6,2018,both
353,Kansas,4,618,623,1241,2019,72,21.2,2019,both
354,Kentucky,4,620,612,1232,2019,100,20.0,2017,both
355,Kentucky,4,620,612,1232,2019,100,20.2,2018,both
356,Kentucky,4,620,612,1232,2019,100,19.8,2019,both
357,Louisiana,5,610,591,1200,2019,100,19.5,2017,both
358,Louisiana,5,610,591,1200,2019,100,19.2,2018,both
359,Louisiana,5,610,591,1200,2019,100,18.8,2019,both
360,Maine,99,512,502,1013,2019,8,24.3,2017,both
361,Maine,99,512,502,1013,2019,7,24.0,2018,both
362,Maine,99,512,502,1013,2019,6,24.3,2019,both
363,Maryland,82,535,523,1058,2019,28,23.6,2017,both
364,Maryland,82,535,523,1058,2019,31,22.5,2018,both
365,Maryland,82,535,523,1058,2019,28,22.3,2019,both
366,Massachusetts,81,559,561,1120,2019,29,25.4,2017,both
367,Massachusetts,81,559,561,1120,2019,25,25.5,2018,both
368,Massachusetts,81,559,561,1120,2019,21,25.5,2019,both
369,Michigan,100,507,496,1003,2019,29,24.1,2017,both
370,Michigan,100,507,496,1003,2019,22,24.2,2018,both
371,Michigan,100,507,496,1003,2019,19,24.4,2019,both
372,Minnesota,4,636,648,1284,2019,100,21.5,2017,both
373,Minnesota,4,636,648,1284,2019,99,21.3,2018,both
374,Minnesota,4,636,648,1284,2019,95,21.4,2019,both
375,Mississippi,3,628,608,1237,2019,100,18.6,2017,both
376,Mississippi,3,628,608,1237,2019,100,18.6,2018,both
377,Mississippi,3,628,608,1237,2019,100,18.4,2019,both
378,Missouri,4,622,615,1236,2019,100,20.4,2017,both
379,Missouri,4,622,615,1236,2019,100,20.0,2018,both
380,Missouri,4,622,615,1236,2019,82,20.8,2019,both